@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes textShadow {
  0% {
    text-shadow:
      0.32924431449756483px 0 0.75px rgba(0, 30, 255, 0.375),
      -0.32924431449756483px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  5% {
    text-shadow:
      2.0946730508091162px 0 0.75px rgba(0, 30, 255, 0.375),
      -2.0946730508091162px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  10% {
    text-shadow:
      0.022172068826109142px 0 0.75px rgba(0, 30, 255, 0.375),
      -0.022172068826109142px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  15% {
    text-shadow:
      0.30163903914658602px 0 0.75px rgba(0, 30, 255, 0.375),
      -0.30163903914658602px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  20% {
    text-shadow:
      2.6095528424889012px 0 0.75px rgba(0, 30, 255, 0.375),
      -2.6095528424889012px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  25% {
    text-shadow:
      1.2094222800862188px 0 0.75px rgba(0, 30, 255, 0.375),
      -1.2094222800862188px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  30% {
    text-shadow:
      0.5261692563857967px 0 0.75px rgba(0, 30, 255, 0.375),
      -0.5261692563857967px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  35% {
    text-shadow:
      2.9226855357377632px 0 0.75px rgba(0, 30, 255, 0.375),
      -2.9226855357377632px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  40% {
    text-shadow:
      2.9031792111366142px 0 0.75px rgba(0, 30, 255, 0.375),
      -2.9031792111366142px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  45% {
    text-shadow:
      1.6732927225214242px 0 0.75px rgba(0, 30, 255, 0.375),
      -1.6732927225214242px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  50% {
    text-shadow:
      0.06063217813423878px 0 0.75px rgba(0, 30, 255, 0.375),
      -0.06063217813423878px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  55% {
    text-shadow:
      1.7818845800570658px 0 0.75px rgba(0, 30, 255, 0.375),
      -1.7818845800570658px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  60% {
    text-shadow:
      1.651644788287977px 0 0.75px rgba(0, 30, 255, 0.375),
      -1.651644788287977px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  65% {
    text-shadow:
      2.147908546115623px 0 0.75px rgba(0, 30, 255, 0.375),
      -2.147908546115623px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  70% {
    text-shadow:
      0.36655518866622985px 0 0.75px rgba(0, 30, 255, 0.375),
      -0.36655518866622985px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  75% {
    text-shadow:
      1.4211368479318468px 0 0.75px rgba(0, 30, 255, 0.375),
      -1.4211368479318468px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  80% {
    text-shadow:
      0.06247779810291427px 0 0.75px rgba(0, 30, 255, 0.375),
      -0.06247779810291427px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  85% {
    text-shadow:
      0.07327370441431301px 0 0.75px rgba(0, 30, 255, 0.375),
      -0.07327370441431301px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  90% {
    text-shadow:
      2.5825048211113365px 0 0.75px rgba(0, 30, 255, 0.375),
      -2.5825048211113365px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  95% {
    text-shadow:
      1.638137913959984px 0 0.75px rgba(0, 30, 255, 0.375),
      -1.638137913959984px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
  100% {
    text-shadow:
      1.9656573355374384px 0 0.75px rgba(0, 30, 255, 0.375),
      -1.9656573355374384px 0 0.75px rgba(255, 0, 80, 0.225),
      0 0 2.25px;
  }
}
@keyframes textShadow {
  0% {
    text-shadow:
      0.2194962096650432px 0 0.5px rgba(0, 30, 255, 0.25),
      -0.2194962096650432px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  5% {
    text-shadow:
      1.3964487005394108px 0 0.5px rgba(0, 30, 255, 0.25),
      -1.3964487005394108px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  10% {
    text-shadow:
      0.014781379217406095px 0 0.5px rgba(0, 30, 255, 0.25),
      -0.014781379217406095px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  15% {
    text-shadow:
      0.20109269276439068px 0 0.5px rgba(0, 30, 255, 0.25),
      -0.20109269276439068px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  20% {
    text-shadow:
      1.7397018949926008px 0 0.5px rgba(0, 30, 255, 0.25),
      -1.7397018949926008px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  25% {
    text-shadow:
      0.8062815200574792px 0 0.5px rgba(0, 30, 255, 0.25),
      -0.8062815200574792px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  30% {
    text-shadow:
      0.3507795042571978px 0 0.5px rgba(0, 30, 255, 0.25),
      -0.3507795042571978px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  35% {
    text-shadow:
      1.9484570238251755px 0 0.5px rgba(0, 30, 255, 0.25),
      -1.9484570238251755px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  40% {
    text-shadow:
      1.9354528074244095px 0 0.5px rgba(0, 30, 255, 0.25),
      -1.9354528074244095px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  45% {
    text-shadow:
      1.1155284816809495px 0 0.5px rgba(0, 30, 255, 0.25),
      -1.1155284816809495px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  50% {
    text-shadow:
      0.04042145208949252px 0 0.5px rgba(0, 30, 255, 0.25),
      -0.04042145208949252px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  55% {
    text-shadow:
      1.1879230533713772px 0 0.5px rgba(0, 30, 255, 0.25),
      -1.1879230533713772px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  60% {
    text-shadow:
      1.101096525525318px 0 0.5px rgba(0, 30, 255, 0.25),
      -1.101096525525318px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  65% {
    text-shadow:
      1.4319390307437487px 0 0.5px rgba(0, 30, 255, 0.25),
      -1.4319390307437487px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  70% {
    text-shadow:
      0.24437012577748657px 0 0.5px rgba(0, 30, 255, 0.25),
      -0.24437012577748657px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  75% {
    text-shadow:
      0.9474245652878979px 0 0.5px rgba(0, 30, 255, 0.25),
      -0.9474245652878979px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  80% {
    text-shadow:
      0.04165186540194285px 0 0.5px rgba(0, 30, 255, 0.25),
      -0.04165186540194285px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  85% {
    text-shadow:
      0.048849136276208675px 0 0.5px rgba(0, 30, 255, 0.25),
      -0.048849136276208675px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  90% {
    text-shadow:
      1.721669880740891px 0 0.5px rgba(0, 30, 255, 0.25),
      -1.721669880740891px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  95% {
    text-shadow:
      1.0920919426399893px 0 0.5px rgba(0, 30, 255, 0.25),
      -1.0920919426399893px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
  100% {
    text-shadow:
      1.3104382236916256px 0 0.5px rgba(0, 30, 255, 0.25),
      -1.3104382236916256px 0 0.5px rgba(255, 0, 80, 0.15),
      0 0 1.5px;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size:
    100% 0.3vh,
    0.45vh 100%; /* // the px numbers control the size of the scanlines (horizontal, vertical) */
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}
